# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Academic Stuff\CV\Formal Projects\2nd Year - 1st Term (Calculator - Java GUI)\GUI_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
